{{> head}}

{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Leon</h1>
        <p>
            Rest, despliegues, heroku, mlab, git, github, sockets, subida de archivos, jwt y mucho más para ser un
            experto en Node
        </p>
    </div>

    <div class="col-4">
        <img src="../assets/img/leon-rey-selva-768x576.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}